@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

html,
body {
    height: 100%;
    font-family: 'Rubik', sans-serif;
}

body {
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.63) 0%,
            rgba(0, 0, 0, 0.63) 100%),
        #33a165;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    --fuego: #ff7402;
    --planta: #33a165;
    --acero: #00858a;
    --agua: #0050ac;
    --psiquico: #c90086;
    --tierra: #8b4513;
    --hielo: #70deff;
    --volador: #5d4e75;
    --fantasma: #4d5b64;
    --normal: #753845;
    --veneno: #7e0058;
    --roca: #6e1a00;
    --lucha: #634136;
    --siniestro: #272625;
    --bicho: #7a8825;
    --dragon: #00c431;
    --electrico: #bba909;
    --hada: #d31c81;
    --desconocido: #757575;
    --sombra: #29292c;
}

.contenedor-nav {
    display: flex;
    align-items: center;
    margin: 0;
}

.contenedor-pokeball {
    display: flex;
    align-items: center;
}

.img-pokeball {
    width: 75px;
    height: 75px;
}

.titulo {
    font-size: 38px;
    color: white;
    margin: 0 1% 0 0;
}

.contenedor-busqueda {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.barra-busqueda {
    flex: 0 0 86%;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: black;
    font-size: 100%;
    color: white;
    font-weight: bold;
}

.boton-busqueda {
    padding: 4px 28px;
    border-radius: 20px;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 25px;
}

.boton-busqueda:hover {
    background-color: #e06600;
}

.rectangulo-redondeado {
    width: 386px;
    height: 510px;
    background-color: #ffffff;
    border-radius: 200px 200px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.contenedor-superior {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 40%;
    border-radius: 200px 200px 0 0;
}

.img-pokemon {
    max-width: 65%;
    object-fit: contain;
}

.seccion-medio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 10%;
    background-color: #0050ac;
}

.seccion-medio-inferior {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 20%;
    background-color: #3fac00;
}

.seccion-inferior-medio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 5%;
    background-color: #b31313;
}

.seccion-inferior {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 25%;
    background-color: #751756;
}

.contenedor-informacion {
    width: 1000px;
    height: 507px;
    position: fixed;
    bottom: 4px;
    left: 420px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 40px 0 0 40px;
    display: flex;
    flex-direction: column;
}

.contenedor-info-superior {
    background-color: #363636;
    height: 50px;
    border-radius: 40px 0 0 0;
}

.contenedor-info-medio {
    background-color: #1b1b1b;
    flex: 1;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: row; /* Asegura que los elementos se alineen en una fila */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
}
.contenedor-info-medio-interior-inicial{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 20%;
 
}
.contenedor-info-medio-interior-intermedio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 10%;   
}
.contenedor-info-medio-interior-final{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 70%;   
}
.contenedor-info-medio-inferior {
    background-color: #1b1b1b;
    flex: 1;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.contenedor-info-medio-inferior-interior-superior {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50%;   
}
.contenedor-info-medio-inferior-interior-inferior {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50%;   
}
.contenedor-info-inferior {
    background-color: #1b1b1b;
    height: 75px;
    border-radius: 0 0 0 40px;
}

