@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

html,
body {
    height: 100%;
    font-family: 'Rubik', sans-serif;
    /* Añadido aquí */
}

body {
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.63) 0%,
            rgba(0, 0, 0, 0.63) 100%),
        #33a165;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    --fuego: #ff7402;
    --planta: #33a165;
    --acero: #00858a;
    --agua: #0050ac;
    --psíquico: #c90086;
    --tierra: #8b4513;
    --hielo: #70deff;
    --volador: #5d4e75;
    --fantasma: #4d5b64;
    --normal: #753845;
    --veneno: #7e0058;
    --roca: #6e1a00;
    --lucha: #634136;
    --siniestro: #272625;
    --bicho: #7a8825;
    --dragón: #00c431;
    --eléctrico: #bba909;
    --hada: #d31c81;
    --desconocido: #757575;
    /* desconocido */
    --sombra: #29292c;
    /* sombra */
}

.contenedor-nav {
    display: flex;
    align-items: center;
    margin: 0;
}

.contenedor-pokeball-blanco {
    display: flex;
    align-items: center;
}

.img-pokeball-filtro {
    width: 75px;
    height: 75px;
}

.titulo {
    font-size: 38px;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 1%;
}

.contenedor-busqueda {
    display: flex;
    align-items: center;
    gap: 5px;
    /* Espacio entre la barra de búsqueda y el botón */
    width: 100%;
    /* Asegura que el contenedor ocupe el 100% del ancho disponible */
}

.barra-busqueda {
    flex: 0 0 86%;
    /* Ocupa el 90% del ancho del contenedor */
    padding: 8px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: black;
    font-size: 100%;
    color: white;
    font-weight: bold;
}

.boton-busqueda {
    padding: 4px 28px;
    border-radius: 20px;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 25px;
}

.boton-busqueda:hover {
    background-color: #e06600;
    /* Cambia el color al pasar el ratón */
}

.rectangulo-redondeado {
    /* Ancho del contenedor */
    width: 386px;
    /* Alto del contenedor */
    height: 510px;
    /* Color de fondo del contenedor */
    background-color: #ffffff;
    /* Bordes redondeados: solo en la parte superior (esquinas superiores) */
    border-radius: 200px 200px 0 0;
    /* Posicionamiento fijo en la parte inferior de la pantalla */
    position: fixed;
    /* Alineación horizontal a la izquierda */
    bottom: 0;
    /* Alineación vertical a la izquierda */
    left: 0;
    /* Espaciado interno del contenedor */
    padding: 10px;
    /* Sombra para un efecto de elevación (sombra hacia arriba) */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.contenedor-informacion {
    width: 1000px;
    height: 507px;
    position: fixed;
    bottom: 4px;
    left: 420px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 40px 0 0 40px;
    display: flex;
    flex-direction: column;
}

.contenedor-superior {
    background-color: #363636;
    height: 50px;
    /* Ajusta la altura como desees */
    border-radius: 40px 0 0 0;
}

.contenedor-medio {
    background-color: #1b1b1b;
    flex: 1;
    /* Ocupa el espacio restante */
}

.contenedor-inferior {
    background-color: #1f1f1f;
    flex: 1;
}

.contenedor-inferiorr {
    background-color: #363636;
    height: 75px;
    /* Ajusta la altura como desees */
    border-radius: 0 0 0 40px;
}

.img-pokemon{
    max-width: 100%;
    max-height: 70%;
    object-fit: contain; /* Ajusta la imagen dentro del div */

}